.about-wrapper {
    margin: 32px 64px;

    .about-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
    }

    .profile-card {
        min-width: 500px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
        padding: 24px;
        border-radius: 12px;
        background: white;

        .intro {
            display: block;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 24px;

            .profile-image {
                width: 200px;
                height: 200px;
                border-radius: 150px;
                object-fit: cover;
                margin-bottom: 24px;
                object-position: top;
            }

            p {
                margin: 0;
            }

            h2 {
                margin: 0;
            }

            .download-btn {
                display: inline-block;
                margin: 24px 0 12px 0;
                padding: 12px 32px;
                background-color: #000;
                color: #fff;
                text-decoration: none;
                border-radius: 8px;
                transition: background-color 0.3s ease;
            }

            .download-btn:hover {
                background-color: #1F2937;
                color: #fff;
            }
        }

        .contact-info {
            p {
                align-items: center;
                display: flex;

                i {
                    font-size: 24px;
                    margin-right: 12px;
                }
            }
        }

        .social-icons {
            margin: 24px;
            align-items: center;
            display: flex;
            justify-content: center;

            a {
                font-size: 24px;
                margin-right: 1rem;
                color: #333;
                background-color: #f4f5f7;
                padding: 12px;
                border-radius: 150px;

                i {
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        p {
            margin-bottom: 12px;
        }
    }

    .details-card {
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
        padding: 24px;
        flex: 1;
        min-width: 500px;

        h2 {
            margin: 0 0 16px 0;
        }

        h3 {
            margin: 16px 0 16px 0;
        }

        p {
            margin: 24px 0 24px 0;
        }

        .skills {
            margin: 0;

            .skills-section {
                margin-top: 12px;
                display: inline-flex;

                .tag {
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    display: inline-block;
                    margin: 6px;
                    padding: 0.4rem 0.8rem;
                    border-radius: 6px;
                    color: white;
                }

                .purple {
                    background-color: #c084fc;
                }

                .blue {
                    background-color: #93c5fd;
                }

                .green {
                    background-color: #bbf7d0;
                    color: #065f46;
                }
            }
        }
    }
}

.info-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 40px;

    .info-section {
        background: white;
        border-radius: 24px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
        padding: 24px;
        flex: 1;
        min-width: 350px;

        .icon-heading {
            color: #1F2937;
            margin-right: 8px;
        }
    }

    .timeline-item {
        border-left: 3px solid #1F2937;
        padding-left: 1rem;
        margin: 1.5rem 0;
        position: relative;

        h3 {
            margin: 0;
        }

        .large-body-text,
        .regular-body-text,
        .small-body-text {
            margin: 12px 0;
        }

        .regular-body-text,
        .small-body-text {
            color: #6b7280;
        }

        &::before {
            content: "";
            position: absolute;
            left: -8px;
            top: 4px;
            width: 12px;
            height: 12px;
            background-color: #1F2937;
            border-radius: 50%;
        }
    }

    .cert-list {

        margin-top: 1rem;
        padding-left: 1rem;
        list-style: none;

        li {
            margin-bottom: 1rem;
            font-size: 0.95rem;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #6b7280;
        }

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 8px;
        }

        .green {
            background-color: #1F2937;
        }

    }

}



@media (max-width: 768px) {
  .about-wrapper {
        margin: 0 20px;

    .about-container {
      flex-direction: column;
      gap: 1.5rem;
    }

    .profile-card,
    .details-card {
      min-width: 300px;
      padding: 16px;
    }

    .profile-card {
      .intro {
        .profile-image {
          width: 120px !important;
          height: 120px !important;
        }


      }

      .contact-info p {


        i {
          font-size: 24px;
        }
      }

      .social-icons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

        a {
          margin: 0;
          padding: 10px;
          font-size: 24px;
        }
      }
    }

    .details-card {

      p {
        margin: 24px 0;
      }

      .skills {
        .skills-section {
          flex-direction: column;
          align-items: flex-start;

          div {
            margin-bottom: 16px;
          }

          .tag {
            font-size: 14px;
            margin-left: 0;
          }
        }
      }
    }
  }

  .info-grid {
    flex-direction: column;

    .info-section {
      min-width: 330px;
      padding: 16px;
    }

    .timeline-item {
      padding-left: 0.8rem;
      margin-bottom: 36px !important;

      &::before {
        width: 10px;
        height: 10px;
        left: -6px;
      }
    }
  }
}
