/* HEADER WRAPPER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center; 

  z-index: 999;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav-link {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.nav-link:hover {
  opacity: 0.6;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.line {
  width: 26px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE VIEW */
@media (max-width: 900px) {
  .header {
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .logo {
    margin-bottom: 0;
  }

  .burger {
    display: flex;
  }

  .nav {
    position: fixed;
    top: 70px;
    right: 0;

    width: 100%;
    height: calc(100vh - 70px);

    background: #000;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav.show {
    transform: translateX(0);
  }

  .nav-link {
    font-size: 1.4rem;
  }
}
